.congrats-body
  background-image: url('/images/congrats-bg.png')
  background-repeat: no-repeat
  background-position: top center
  background-size: contain
  padding: 25px
  @media (max-width: 767px)
    padding: 10px  
  .congrats-top
    text-align: center
    margin: 20px 0

    h3
      color: #000
      font-weight: 600
      font-size: 28px
      @media (max-width: 767px)
        font-size: 18px
    p 
        font-size: 16px
        color: #61697B
        font-weight: 400
        line-height: 1.6
        margin: 0 0 20px 0
        @media (max-width: 767px)
            font-size: 13px

  .congrats-bar
    max-width: 920px
    width: 100%
    margin: 0 auto
    background: #fff
    box-shadow: 0px 0px 7px rgba(78, 110, 150, 0.25)
    border-radius: 10px
    padding: 15px
    margin-bottom: 40px

    .congrat-box
      display: flex
      align-items: center
      padding: 0px 20px;
      position: relative;
      @media (max-width: 767px)
        display: block
        padding: 0 0 20px
      &:before 
        content: "";
        background-image: url(/assets/icons/line-bdr.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0;
        @media (max-width: 767px)
            display: none
      
      
      .congrat-box-icon
        max-width: 40px
        width: 100%
        @media (max-width: 767px)
            margin: 0 auto
            text-align: center
            display: block
            max-width: 20px
        i
          color: #0062CC

      .congrat-text
        @media (max-width: 767px)
            text-align: center
        span
          color: #4A5061
          font-size: 16px
          font-weight: 400
          @media (max-width: 767px)
            font-size: 14px  
        p
          margin: 0
          color: #0062CC

  .congrate-certificate-box
    background: #fff
    box-shadow: 0px 0px 7px rgba(78, 110, 150, 0.25)
    border-radius: 10px
    max-width: 920px
    width: 100%
    margin: 0 auto
    padding: 20px 40px
    overflow: hidden
    margin-bottom: 20px
    @media (max-width: 767px)
        max-width: 100%
        padding: 20px 20px

    .congrate-certificate-box-head
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 40px
      @media (max-width: 767px)
        display: block
        text-align: center

      h6
        color: #000
        font-weight: 600
        font-size: 19px
        @media (max-width: 767px)
            font-size: 15px

    .certificate
      max-width: 800px
      width: 100%
      @media (max-width: 767px)
        max-width: 100%  
        padding: 40px 10px !important;
    .preview
      border-radius: 20px
      border: 1px solid #D6DFE7
      background-color: #F3F5FF
      padding: 10px 15px
      @media (max-width: 767px)
        margin: 10px 0 0
      .peivewtxt
        color: #0062CC
        font-weight: 400
        font-size: 14px
        display: flex
        align-items: center
      img
        margin:0 5px 0 0

  .congrats-btm-box
    background: #fff
    box-shadow: 0px 0px 7px rgba(78, 110, 150, 0.25)
    border-radius: 10px
    max-width: 920px
    width: 100%
    margin: 0 auto
    padding: 20px 40px
    overflow: hidden
    margin-bottom: 20px
    text-align: center
    @media (max-width:767px)
        max-width: 100%
        padding: 20px 10px
    h6
      color: #000
      font-weight: 600
      font-size: 19px
      @media (max-width:767px)
        font-size: 16px
      img
        display: inline-block
    .btn-primary
       background: #0062CC 
       color: #fff 
       border: 1px solid transparent   
       font-size: 14px
       font-weight: 400
       padding: 14px 30px
       text-align: center
       border-radius: 40px  
       margin: 20px 0 0;
       display: inline-block;
       &:hover
        background: #D4E8FF
        color: #000   

  .btn-holder
    display: flex
    align-items: center
    gap: 20px
    justify-content: center
    margin-top: 20px
    @media (max-width:767px)
        display: block
        text-align: center
    .btn-border
        font-size: 14px
        font-weight: 400
        padding: 14px 30px
        text-align: center
        border-radius: 40px
        background-color: transparent
        border:1px solid #607483
        color: #3D4557
        display: flex
        align-items: center
        @media (max-width:767px)
            margin: 0 0 10px
        i
            margin-right: 10px;
        img
            margin-right: 10px;
            filter: brightness(0) saturate(100%) invert(15%) sepia(59%) saturate(0%) hue-rotate(142deg) brightness(94%) contrast(87%) 
        &:hover
            background: #0062CC 
            color: #fff 
            border: 1px solid transparent  
            img
                filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(179deg) brightness(109%) contrast(101%)
.course-certi-main
    @media (max-width: 767px)
        display: none !important 
.logo
    @media (max-width: 767px)
        height: auto !important

.certificate-content
    @media (max-width: 767px)
        margin-top: 30px !important 
        text-align: center
    p
       @media (max-width: 767px)
            font-size: 14px !important 
    h1
       @media (max-width: 767px)
            font-size: 30px !important   
    h2
       @media (max-width: 767px)
            font-size: 18px !important   
            padding: 0 !important                                                
.certificate-footer
    @media (max-width:767px)
        padding: 10px 0 0 !important 
        display: block !important
        text-align: center          

.footer-disclimer
    @media (max-width: 767px)
        text-align: center !important        