.min-h-screen
  position: relative
  z-index: 100000 !important

button, a
  position: relative !important
  z-index: 100001 !important
  cursor: pointer !important
  pointer-events: auto !important
  user-select: none !important
  &:hover
    cursor: pointer !important
