.section-btn
  color: #374151
  &:hover
    background: linear-gradient(135deg, #6b8cff 0%, #1a3fd4 100%)
    color: white
    p, svg
      color: white !important
  &.active
    background: linear-gradient(135deg, #6b8cff 0%, #1a3fd4 100%)
    color: white
    p, svg
      color: white !important